In [6]:
import pandas as pd
import numpy as np

In [7]:
df1 = pd.DataFrame(np.arange(9).reshape(3,3))

In [8]:
df1

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [10]:
df2=pd.DataFrame(np.arange(9).reshape(3,3),index=["a","b","c"],columns=["A","B","C"])

In [12]:
df2["A"]

a    0
b    3
c    6
Name: A, dtype: int32

In [13]:
df3 = pd.DataFrame([])

In [14]:
df3.ix["a","A"] = 1

C:\Users\NDA04\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [15]:
df3

     A
a  1.0