In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame(np.arange(16).reshape(4,4))

In [3]:
df1

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [6]:
df2=df1.rename(index={0:"a",1:"b",2:"c",3:"d"},columns={0:"A",1:"B",2:"C",3:"D"})

In [7]:
df2

    A   B   C   D
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

In [9]:
df3=df2.reindex(columns=["D","C","B","A"])

In [10]:
df3

    D   C   B   A
a   3   2   1   0
b   7   6   5   4
c  11  10   9   8
d  15  14  13  12

In [11]:
df2["B"]

a     1
b     5
c     9
d    13
Name: B, dtype: int32

In [12]:
df2.iloc[:,1]

a     1
b     5
c     9
d    13
Name: B, dtype: int32

In [13]:
df2.ix[:,"B"]

C:\Users\NDA04\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

a     1
b     5
c     9
d    13
Name: B, dtype: int32

In [14]:
df2["B"]["c"]

9

In [15]:
df2["B"][1:]

b     5
c     9
d    13
Name: B, dtype: int32